 <div class="row">
  <% @events.each do |event| %>
    <div class="col-lg-4">
      <img class="img-circle" src="/assets/location.jpg" alt="Generisches Platzhalter-Bild" width="140" height="140">
      <h2><%= event.title %></h2>
      <p><%= link_to 'View details', event_path(event.id), class: "btn btn-info btn-xs" %></a></p>
      <p> <%= event.description %></p>

    </div>
  <% end %>
 </div>