<div class="row jumbotron">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Alle Veranstaltungsorte:</h1>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= render 'home/venue' %>
  </div>
  <div class="col-md-2"></div>
</div>