<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Neuen Veranstaltungsort anlegen:</h1>
  </div>
  <div class="col-md-4"></div>
</div>
<div class="jumbotron">
  <div class="row">
    <%= render 'form' %>
  </div>
</div>

