<!-- FOOTER -->
<footer class="footer">
  <div class="container text-muted">
    <p class="pull-right"><a href="#">Zurück nach oben</a></p>
    <p>&copy; 2016 HTW Webtech-Abschlussprojekt </p>
  </div>
</footer>